 <!DOCTYPE html>
 <html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
     <head>
         <div th:replace="~{fragment :: meta}"></div>
         <div th:replace="~{fragment :: styles}"></div>
         <title>商品一覧</title>
     </head>
     <body>
         <div class="ecshop-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
             <main>
                 <div class="container ecshop-container pb-5">
                     <div class="row justify-content-center">
                         <nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                             <ol class="breadcrumb mb-0">
                                 <li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
                                 <li class="breadcrumb-item active" aria-current="page">商品一覧</li>
                             </ol>
                         </nav>
                         <div class="col-xl-3 col-lg-4 col-md-12">
                             <form method="get" th:action="@{/goods}" class="w-100 mb-3">
                                 <div class="input-group">
                                     <input type="text" class="form-control" name="keyword" th:value="${keyword}" placeholder="商品名・特徴">
                                     <button type="submit" class="btn text-white shadow-sm ecshop-btn">検索</button>
                                 </div>
                             </form>
                             <div class="card mb-3">
                                 <div class="card-header">
                                     1泊あたりの予算から探す
                                 </div>
                                 <div class="card-body">
                                     <form method="get" th:action="@{/goods}" class="w-100">
                                         <div class="form-group mb-3">
                                             <select class="form-control form-select" name="price">
                                                 <option value="" hidden>選択してください</option>
                                                 <option value="1000" th:selected="${price == 1000}">1,000円以内</option>
                                                 <option value="2000" th:selected="${price == 2000}">2,000円以内</option>
                                                 <option value="3000" th:selected="${price == 3000}">3,000円以内</option>
                                                 <option value="4000" th:selected="${price == 4000}">4,000円以内</option>
                                                  <option value="5000" th:selected="${price == 5000}">5,000円以内</option>
                                                 <option value="10000" th:selected="${price == 10000}">10,000円以内</option>
                                                 <option value="15000" th:selected="${price == 15000}">15,000円以内</option>
                                                  <option value="20000" th:selected="${price == 20000}">20,000円以内</option>
                                             </select>
                                         </div>
                                         <div class="form-group">
                                             <button type="submit" class="btn text-white shadow-sm w-100 ecshop-btn">検索</button>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                         </div>
                         <div class="col">
                             <div class="d-flex justify-content-between flex-wrap">
                                 <p th:if="${goodsPage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + goodsPage.getTotalElements() + '件' + '（' + (goodsPage.getNumber() + 1) + ' / ' + goodsPage.getTotalPages() + ' ページ）'}"></p>
                                 <p th:unless="${goodsPage.getTotalPages() > 1}" class="fs-5 mb-3" th:text="${'検索結果：' + goodsPage.getTotalElements() + '件'}"></p>
                             </div>

                             <div class="mb-3" th:each="goods : ${goodsPage}">
                                 <a th:href="@{/goods/__${goods.getId()}__}" class="link-dark ecshop-card-link">
                                     <div class="card h-100">
                                         <div class="row g-0">
                                             <div class="col-md-4">
                                                 <img th:if="${goods.getImageName()}" th:src="@{/storage/__${goods.getImageName()}__}" class="card-img-top ecshop-horizontal-card-image" alt="店舗画像">
                                                 <img th:unless="${goods.getImageName()}" th:src="@{/images/noImage.png}" class="card-img-top ecshop-horizontal-card-image" alt="NO IMAGE">
                                             </div>
                                             <div class="col-md-8">
                                                 <div class="card-body">
                                                     <h3 class="card-title mb-3" th:text="${goods.getName()}"></h3>
                                                     <hr class="mb-3">
                                                     <p class="card-text mb-2">
                                                         <span th:text="${goods.getDescription()}"></span>
                                                     </p>
                                                     <p class="card-text mb-2">
                                                         <small class="text-muted" th:text="${'〒' + goods.getPostalCode()}"></small>
                                                         <small class="text-muted" th:text="${goods.getAddress()}"></small>
                                                     </p>
                                                     <p class="card-text">
                                                         <span th:text="${#numbers.formatInteger(goods.getPrice(), 1, 'COMMA') + '円 / 泊'}"></span>
                                                     </p>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </a>
                             </div>
                             <!-- ページネーション -->
                             <div th:if="${goodsPage.getTotalPages() > 1}" class="d-flex justify-content-center">
                                 <nav aria-label="商品一覧ページ">
                                     <ul class="pagination">
                                         <li class="page-item">
                                             <span th:if="${goodsPage.isFirst()}" class="page-link disabled">前</span>
                                             <a th:unless="${goodsPage.isFirst()}" th:href="@{/goods(page = ${goodsPage.getNumber() - 1}, keyword = ${keyword}, area = ${area}, price = ${price})}" class="page-link ecshop-page-link">前</a>
                                         </li>
                                         <li th:each="i : ${#numbers.sequence(0, goodsPage.getTotalPages() - 1)}" class="page-item">
                                             <span th:if="${i == goodsPage.getNumber()}" class="page-link active ecshop-active" th:text="${i + 1}"></span>
                                             <a th:unless="${i == goodsPage.getNumber()}" th:href="@{/goods(page = ${i}, keyword = ${keyword}, area = ${area}, price = ${price})}" class="page-link ecshop-page-link" th:text="${i + 1}"></a>
                                         </li>
                                         <li class="page-item">
                                             <span th:if="${goodsPage.isLast()}" class="page-link disabled">次</span>
                                             <a th:unless="${goodsPage.isLast()}" th:href="@{/goods(page = ${goodsPage.getNumber() + 1}, keyword = ${keyword}, area = ${area}, price = ${price})}" class="page-link ecshop-page-link">次</a>
                                         </li>
                                     </ul>
                                 </nav>
                             </div>
                         </div>
                     </div>
                 </div>
             </main>
             <!-- フッター -->
             <div th:replace="~{fragment :: footer}"></div>
         </div>
         <div th:replace="~{fragment :: scripts}"></div>
   </body>
 </html>
